@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
			 url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "NexaRustScriptL-0";
	src: url("../fonts/NexaRustScriptL-0/NexaRustScriptL-0.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}